.build_venv/
.vs/
__pycache__/
*.pyc
*.pyo
*.pyd
!runtime/python/**/*.pyd
*.spec

bin/
obj/
src/**/bin/
src/**/obj/

release/
release_payload/
_install_test/

dist/
build/
installer/dist/
installer/update-package/

exports/
satellite_alignment_steps/
